@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "leiko";
  background-color: var(--primary);
  color: var(--primary);
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: cover;
  z-index: 0;
}

.navbar .navbar-nav a {
  color: #ecdfc0;
  display: inline-block;
  font-size: 20px;
  margin: 0 1rem;
  font-family: "agbalumo";
}

.navbar .navbar-nav a:hover {
  color: #b79b74;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #b79b74;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ecdfc0;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #b79b74;
}

#hamburger-menu {
  display: none;
}

/* media query */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ecdfc0;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}
/* handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* hero */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(/img/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5rem;
  color: #ecdfc0;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  font-family: "agbalumo";
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 400;
  color: #ecdfc0;
}

.hero .button {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 49px;
  background-color: #ecdfc0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 36px;
  margin-top: 2rem;
}

/* .hero .button :hover {
  color: #241719;
} */

.shop-now {
  position: relative;
  text-decoration: none;
  color: #241719;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-family: "agbalumo";
  text-align: center;
}

/* menu */
.enjoy-a-new {
  position: relative;
  font-family: "agbalumo";
  font-size: 100;
}

.explore-all-flavours {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 34px;
  color: var(--color-dimgray);
  text-align: center;
  display: inline-block;
  width: 980px;
  font-family: "agbalumo";
}

.group-child,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
}

.group-child {
  background-color: var(--color-floralwhite);
  border: 1px solid var(--color-sandybrown);
  box-sizing: border-box;
  height: 364px;
}

.group-item {
  height: 222px;
  object-fit: cover;
}

.cappuccino {
  top: 0;
  left: 16px;
}

.cappuccino,
.coffee-50,
.k {
  position: absolute;
}

.coffee-50 {
  top: 35px;
  left: 0;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}

.k {
  top: 62px;
  left: 54px;
  font-size: var(--font-size-lg);
}

.cappuccino-parent {
  position: absolute;
  top: 236px;
  left: 63px;
  width: 167px;
  height: 85px;
}

.button2,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 364px;
}

.button2 {
  top: 345px;
  left: 75px;
  border-radius: 34.06px;
  background-color: var(--primary);
  width: 130px;
  height: 37px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.342246055603027px 25.026737213134766px;
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-wheat-100);
}

.row-menu {
  position: relative;
  width: 280px;
  height: 382px;
}

.row-menu-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left: 500px;
  gap: var(--gap-xl);
}

.shop-now1 {
  position: relative;
  text-decoration: none;
  color: #ecdfc0;
  text-transform: capitalize;
  font-size: 15px;
  font-family: "agbalumo";
  justify-content: center;
}

.button-shop-all-products-child,
.shop-all-products {
  text-decoration: none;
  color: #351c0f;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.button-shop-all-products-child {
  right: 0;
  bottom: 0;
  border-radius: var(--br-53xl);
  background-color: var(--white);
  border: 5px solid var(--primary);
  box-sizing: border-box;
}

.shop-all-products {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-shop-all-products {
  position: relative;
  width: 250px;
  height: 40px;
  text-align: center;
  font-size: var(--font-size-base);
}

.enjoy-a-new-blend-of-coffee-st-parent,
.frame-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.frame-group {
  gap: var(--gap-29xl);
  font-size: var(--font-size-3xl);
  left: 60px;
  justify-items: center;
  position: center;
}

.enjoy-a-new-blend-of-coffee-st-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 624px);
  padding: var(--padding-15xl);
  gap: var(--gap-7xl);
}

.menu3 {
  position: absolute;
  top: 570px;
  left: calc(50% - 718.5px);
  background-color: var(--text-color);
  width: 1350px;
  height: 693px;
  overflow: hidden;
  font-size: var(--font-size-35xl);
  color: var(--primary);
  align-items: center;
  padding: 1.4rem 7%;
}

/* rekomendasi  */
.recommended {
  text-align: center;
  top: 2000px;
  left: 557px;
  text-transform: capitalize;
  background: linear-gradient(
    262.07deg,
    #f8e4be 19.79%,
    #fff3e0 36.98%,
    #fff8e8 51.56%,
    #dfc39d 72.92%
  );
  -webkit-background-clip: text;
  color: #ecdfc0;
  font-family: "agbalumo";
}

.material-symbolsarrow-circle-icon {
  border-radius: var(--br-11xl);
}

.material-symbolsarrow-circle-icon,
.material-symbolsarrow-circle-icon1 {
  position: center;
  width: 45px;
  height: 45px;
  overflow: hidden;
  flex-shrink: 0;
}

.arrows {
  position: absolute;
  top: 543px;
  left: 646px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-7xl);
  gap: var(--gap-7xs);
}

.rectangle-7-removebg-preview-1-icon {
  position: relative;
  width: 359.5px;
  height: 285px;
  object-fit: cover;
  z-index: 0;
}

.frame-item {
  position: relative;
  width: 1px;
  height: 22.6px;
}

.dark-roast {
  position: relative;
  line-height: 210%;
  text-transform: capitalize;
}

.frame-div,
.product1-inner {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: center;
}

.frame-div {
  justify-content: center;
  gap: var(--gap-xs);
}

.product1-inner {
  border-radius: 0 0 var(--br-16xl) var(--br-16xl);
  background-color: var(--color-gray-700);
  width: 367px;
  height: 69px;
  flex-shrink: 0;
  justify-content: space-between;
  padding: var(--padding-8xl) var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}

.phinfo-icon,
.product1-child {
  position: absolute;
  margin: 0 !important;
  top: 230px;
  left: 308px;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}

.phinfo-icon {
  top: 20px;
  left: 23.5px;
  width: 24px;
  height: 24px;
  z-index: 3;
}

.product1 {
  border-radius: var(--br-16xl);
  background-color: var(--color-sienna);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: center;
}

.macchiato {
  position: relative;
  line-height: 210%;
  text-transform: capitalize;
  -webkit-text-stroke: 0.5px #fff;
  text-align: center;
}

.front-view-delicious-cake-with-icon {
  position: relative;
  width: 301.2px;
  height: 285px;
  object-fit: cover;
  z-index: 0;
}

.recommended1 {
  position: absolute;
  top: 141px;
  left: 0;
  width: 1440px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-104xl);
  box-sizing: border-box;
  gap: var(--gap-17xl);
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-leiko);
}

.section-6 {
  flex: 1;
  position: relative;
  width: 1440px;
}

.rekomendasi {
  position: absolute;
  top: 1300px;
  left: calc(50% - 720px);
  width: 1350px;
  height: 677px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: var(--font-size-45xl);
  color: var(--white);
  font-family: var(--font-la-belle-aurore);
  background-color: var(--primary);
  overflow: hidden;
}

/* testimoni */
.home4 {
  width: 100%;
  height: 700px;
  background-color: #fff8e8;
  position: relative;
  top: 1350px;
}
.home4 .splash-coffe img {
  position: absolute;
  top: 20%;
  right: 0;
  transform: translateY(-60%);
  z-index: 2;
}

.home4 .splash-coffe2 img {
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(50%);
  z-index: 2;
}
.home4 .head-feedback {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.head-feedback-content h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  color: #351c0f;
}
.head-feedback-content p {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  color: #351c0f;
  margin-bottom: 55px;
}
.head-feedback .paragraf {
  margin-top: 10px;
}
.head-feedback {
  position: relative;
}
.card4 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.kotak-feedback {
  width: 800px;
  height: 400px;
  background-color: #351c0f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.kotak-feedback p {
  text-align: center;
  color: wheat;
}

.kotak-feedback h1 {
  margin-top: 60px;
  text-align: center;
  color: wheat;
  margin-bottom: 0px;
}

.qoute-feedback {
  flex-direction: column;
  margin: 0;
}

.arrow-kanan {
  position: absolute;
  top: 50%;
  margin-left: 150px;
  transform: translateY(-50%);
  z-index: 2;
  padding: 20px 30px;
  background-color: wheat;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}
.arrow-kanan:hover {
  background-color: #a48072;
}
.arrow-kiri {
  position: absolute;
  right: 750px;
  transform: translateY(-50%);
  z-index: 2;
  padding: 20px 30px;
  background-color: wheat;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}
.arrow-kiri:hover {
  background-color: #a48072;
}
.profile-feedback {
  position: absolute;
  right: 330px;
  transform: translateY(95%);
  z-index: 2;
  border-radius: 10px;
}

.arrow-kiri {
  margin: 0%;
}
/* Footer */

.footer {
  width: 1350px;
  height: 354px;
  color: white;
  background-color: #ffffff;
  overflow: hidden;
  top: 2600px;
  background-color: var(--white);
  height: 354px;
  overflow: hidden;
  font-size: var(--font-size-7xl);
  background-size: 100% 100%;
}

.footer .overlap {
  position: relative;
  height: 1008px;
  top: -504px;
  width: 100%;
}

.footer .background {
  position: absolute;
  width: 100%;
  height: 1008px;
  top: 0;
  left: 0;
}

.footer .overlap-group {
  position: relative;
  height: 354px;
  top: 504px;
  background-image: url(/img/footer.png);
  background-size: cover;
  background-position: 100% 100%;
  left: 250;
}

.footer .rectangle {
  width: 100%;
  height: 354px;
  background-color: #3f2c13cc;
}

.footer .frame {
  position: absolute;
  width: 100%;
  height: 354px;
  top: 537px;
  left: 0;
  background-size: 100% 100%;
  left: 50px;
}

.footer .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 75px;
}

.footer .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "agbalumo";
  font-weight: 200;
  color: #ecdfc0;
  font-size: calc(35px + 1vw);
  letter-spacing: 50;
  line-height: normal;
}

.footer .lorem-ipsum-is {
  position: relative;
  width: 380px;
  height: 85px;
  font-family: "Leiko-Regular";
  font-weight: 200;
  color: #ecdfc0;
  font-size: calc(12px + 0.5vw);
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: a;
}

.footer .group {
  position: relative;
  width: 156px;
  margin-top: 40px;
  height: 25.4px;
  top: 25px;
}

.footer .group-2 {
  position: absolute;
  width: 77px;
  height: 216px;
  top: 0;
  left: 542px;
}

.footer .text-wrapper-1 {
  position: absolute;
  top: 0;
  left: 30px;
  font-family: "agbalumo";
  font-weight: 400;
  color: #ecdfc0;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.footer .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: -5px;
  font-family: "agbalumo";
  font-weight: 400;
  color: #ecdfc0;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.footer .home-menu-services {
  position: absolute;
  top: 80px;
  left: 30px;
  font-family: "leiko-regular";
  font-weight: 400;
  color: #ecdfc0;
  font-size: 18px;
  letter-spacing: 25;
  line-height: 42px;
  text-decoration: none;
}

.footer .group-3 {
  position: absolute;
  width: 120px;
  height: 132px;
  top: 0;
  left: 808px;
}

.footer .text-wrapper-3 {
  position: absolute;
  top: 80px;
  left: 5px;
  font-family: "leiko-regular";
  font-weight: 400;
  color: #ecdfc0;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 42px;
  white-space: nowrap;
  text-decoration: none;
}

.footer .group-4 {
  position: absolute;
  width: 334px;
  height: 257px;
  top: 0;
  left: 1074px;
}

.footer .group-5 {
  position: absolute;
  width: 340px;
  height: 191px;
  top: 15px;
  left: 0;
}

.footer .text-wrapper-4 {
  position: absolute;
  top: 76px;
  left: 0;
  font-family: "leiko-regular";
  font-weight: 400;
  color: #ecdfc0;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.footer .text-wrapper-5 {
  position: absolute;
  top: 122px;
  left: 0;
  font-family: "leiko-regular";
  font-weight: 400;
  color: #ecdfc0;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.footer .text-wrapper-6 {
  position: absolute;
  top: 168px;
  left: 0;
  font-family: "leiko-regular";
  font-weight: 400;
  color: #ecdfc0;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}
.footer,
.frame-parent {
  position: absolute;
  left: calc(50% - 720px);
}

.frame-parent {
  top: calc(50% - 144px);
  height: 288.4px;
}
