.explore-all-the,
.our-team-member {
  position: relative;
  font-size: var(--font-size-35xl);
  font-family: "agbalumo";
}
.explore-all-the {
  font-size: var(--font-size-xl);
  line-height: 20px;
  color: var(--color-dimgray);
  text-align: center;
  display: inline-block;
  width: 980px;
}
.group-child,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
}
.group-child {
  background-color: var(--color-floralwhite);
  border: 1px solid var(--color-sandybrown);
  box-sizing: border-box;
  height: 364px;
}
.group-item {
  height: 268px;
  object-fit: cover;
}
.project-leader {
  position: center;
  top: 25px;
  left: calc(50% - 46.5px);
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.k {
  position: absolute;
  top: 62px;
  left: 38px;
  font-size: var(--font-size-lg);
  font-family: var(--font-leiko);
  display: none;
}

.vittra-triani-parent {
  position: absolute;
  top: 290px;
  left: 85px;
  width: 167px;
  height: 84px;
  font-family: "leiko-regular";
}

.vittra-triani-parent .about {
  color: var(--Primary, #351c0f);
  font-family: Roboto;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 364px;
}

.row-menu {
  position: relative;
  width: 280px;
  height: 364px;
}
.front-end-engineer {
  position: center;
  top: 25px;
  left: calc(50% - 59.5px);
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.cristina-raissa-dongoran-parent {
  position: absolute;
  top: 290px;
  left: 12px;
  width: 250px;
  height: 84px;
  text-align: center;
}

.cristina-raissa-dongoran-parent .about {
  color: var(--Primary, #351c0f);
  font-family: Roboto;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 22px;
}

.nor-dila-aulia-parent {
  position: absolute;
  top: 290px;
  left: 12px;
  width: 250px;
  height: 84px;
  text-align: center;
}
.frame-wrapper,
.row-menu-parent {
  display: flex;
  justify-content: flex-start;
}
.row-menu-parent {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-53xl);
}
.frame-wrapper {
  flex-direction: column;
  align-items: center;
  font-family: var(--font-roboto);
}
.ghibran-harta-yudha {
  position: absolute;
  top: 0;
  left: calc(50% - 90px);
}
.back-end-engineer {
  position: absolute;
  top: 25px;
  left: calc(50% - 59px);
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.ghibran-harta-yudha-parent {
  position: absolute;
  top: 290px;
  left: 12px;
  width: 250px;
  height: 84px;
  text-align: center;
}
.back-end-engineer1 {
  position: absolute;
  top: 25px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  text-align: center;
  left: 60px;
}
.yassar-ghinata-parent {
  position: absolute;
  top: 290px;
  left: 15px;
  width: 250px;
  height: 84px;
  text-align: center;
}

.yassar-ghinata-parent .yassar {
  text-align: center;
  left: -50px;
}
.widya-nur-lailiya {
  position: absolute;
  top: 0;
  left: calc(50% - 75px);
}
.quality-assurance {
  position: absolute;
  top: 25px;
  left: calc(50% - 57px);
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.widya-nur-lailiya-parent {
  position: absolute;
  top: 290px;
  left: 12px;
  width: 250px;
  height: 84px;
  text-align: center;
}
.row-menu-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-53xl);
  font-family: var(--font-roboto);
}
.our-team-member-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 526px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-15xl);
  gap: var(--gap-7xl);
  font-family: "agbalumo";
}
.menu3 {
  position: center;
  top: 100%;
  left: calc(50% - 720px);
  background-color: var(--text-color);
  width: 100%;
  height: 1013px;
  overflow: hidden;
  font-size: var(--font-size-3xl);
  color: var(--primary);
  font-family: "agbalumo";
}
